<div class="card card-body mb-4">
    <form (ngSubmit)="onSubmit()">
        <div class="form-froup">
           <input type="text" 
           class="form-group" 
           placeholder="Add a log"
           name="text"
           [(ngModel)]="text"
           >
        </div>

        <input type="submit" 
        value="Add Log" 
        class="btn btn-dark mt-3 mb-3"
        [disabled]="!this.text">
        <button type="button" 
        (click)="clearForm()"
        class="btn btn-warning mt-3 mb-3"
        [hidden]="!this.text">Clear</button>
    </form>
</div>
